---
const BASE = import.meta.env.BASE_URL;
---

<div id="main-menu" class="nav-links">
  <a href={`${BASE}`}>Inicio</a>
  <a href={`${BASE}/about/`}>Sobre mi</a>
  <a href={`${BASE}/blog/`}>Blog</a>
  <a href={`${BASE}/tags/`}>Etiquetas</a>
</div>
